/* 
Color Palete:
    Body Background: #ECDAC9
    Calculator: #2C3545
    Calculator Buttons: #DC5A41
    Calculator "Glass": #9ccc65
 */

/* Fonts */
@font-face {
  font-family: "roboto-400-italic";
  font-weight: 400;
  font-style: italic;
  src: url(RobotoMono-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "roboto-600";
  font-weight: 600;
  src: url(RobotoMono-VariableFont_wght.ttf);
}

/* Basics */
* {
  margin: 0;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ecdac9;
}

.calc-body {
  min-width: 35vw;
  min-height: 60vh;
  background-color: #2c3545;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.viewfinder {
  width: 90%;
  height: 15vh;
  background-color: #9ccc65;
  border-radius: 20px;
  margin: 2vmax;
}

.buttons {
  min-width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 2vmax 2vmax 2vmax;
}
.buttons div {
  display: flex;
  flex-wrap: nowrap;
}

.buttons button {
  padding: 2vh 4vh;
  font-family: "roboto-600";
  font-size: 2rem;
  background-color: #dc5a41;
  border: none;
  border-radius: 20px;
  margin: 1vmax;
}

@media screen and (max-width: 600px) {
  .buttons button {
    padding: 1vmax 2vmax;
  }
  .calc-body {
    justify-content: center;
  }
  .viewfinder{
    height: 10vh;
  }
}
