/* 
Color Palete:
    Body Background: #ECDAC9
    Calculator: #2C3545
    Calculator Buttons: #DC5A41
    Calculator "Glass": #9ccc65
 */

/* Fonts */
@font-face {
  font-family: "roboto-400-italic";
  font-weight: 400;
  font-style: italic;
  src: url(RobotoMono-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "roboto-600";
  font-weight: 600;
  src: url(RobotoMono-VariableFont_wght.ttf);
}

/* Basics */
* {
  margin: 0;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ecdac9;
}

.calc-body {
  width: 584.141px;
  height: 70vh;
  background-color: #2c3545;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewfinder {
  width: 85%;
  height: 15%;
  background-color: #9ccc65;
  border-radius: 1rem;
  margin: 3rem 0 0 0;
}

.buttons {
  width: 85%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  align-items: stretch;
}

.numbers {
  width: 70%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.numbers div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.operators {
  width: 30%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.buttons button {
  font-family: "roboto-600";
  font-size: 2rem;
  background-color: #dc5a41;
  border: none;
  border-radius: 1rem;
}

.numbers button{
  padding: 1.5rem 2rem;
  margin: 0.5rem;
}

.operators button {
  padding: 0.5rem;
  margin: 0.5rem;
}
